<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Homepage</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row h-100">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
          <div class="position-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/app"> Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app/create"> Create New </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app/scrapers"> Scrapers </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app/jobs"> Cron Jobs </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app/history"> Execution History </a>
              </li>
            </ul>
          </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="container">
            <h2>Welcome!</h2>
            <p>Select a page from the sidebar on the left.</p>
            <p>Source code for this project can be found
              <a
                href="https://github.com/Pinehood/ph-configurable-web-scraper"
                target="_blank"
              >here</a>!</p>
            <br />
            <p>
              In order to perform non-read actions on the available resources,
              you'd need to input one out of the four possible secret keys, to
              get access to these same actions. This key will be saved in local
              storage, for future usages in various requests. Minimum level
              security for the win!
            </p>
            <div
              id="alert-success"
              class="alert alert-success"
              role="alert"
              hidden="true"
            >
              Key saved successfully!
            </div>
            <div
              style="
                display: inline-flex;
                flex: content;
                justify-content: space-between;
              "
            >
              <p>Key:&nbsp;</p>
              <input
                type="password"
                class="form-control"
                style="height: 32px"
                id="secret_key"
              />
              <span>&nbsp;</span>
              <button
                type="button"
                class="btn btn-primary"
                style="height: 32px"
                onclick="setKey()"
              >
                Set
              </button>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    ></script>
    <script src="/base.js"></script>
  </body>
</html>